body {
	background-color: #f5f6f7 !important;
}

/* --------------------------------
   entry
-------------------------------- */
.entry {
	overflow: hidden;
	margin: 80px 0 0 230px;
	padding-bottom: 30px;
	border-radius: 6px;
	width: 800px;
	background: #fff;
}

.thumb {
	height: 360px;
}

.entry-title {
	margin: 36px 0 0 30px;
}

.entry-date {
	margin-left: 50px;
	font-size: 15px;
}

.entry-content-tit {
	margin-top: 30px;
	margin-left: 40px;
	border-bottom: 4px solid #333;
	border-bottom: 0.25rem solid #333;
	width: 710px;
	line-height: 40px;
	line-height: 2.5rem;
}

.entry-content > p {
	margin-top: 20px;
	margin-left: 40px;
	width: 710px;
	font-size: 21px;
}

/* --------------------------------
   footer
-------------------------------- */
footer {
	text-align: center;
}